    header {
        text-align: center;
        margin: 0 0 .2em 0;
        height: 70vh;
        width: 100%;
        background: url('../../assets/images/reactbackgound.png');
        object-fit: cover;
        background-repeat: no-repeat;
        padding: 2em;
        display: grid;
        place-content: center;
        gap: 2em;
    }
    
    
    header h1 {
        margin: 0;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 5rem;
        line-height: .9;
        background: linear-gradient(40deg, #4c00524e, #ef82f9, #abf0fe, #97eafa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.5));
    }
    
    header p {
        margin: 0;
        font-size: 1.25rem;
        color: #c5addf;
        font-family: "Roboto Condensed", sans-serif;
    }
    